#layoutBox{
    width: 100%;
    min-width: 1080px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    #layoutNav{
        position: absolute;        
        margin-top: 60px;
        margin-left: 60px;
        background-color: white;
        display: flex;
        flex-direction: column;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        // border: 1px solid rgba($color: #000000, $alpha: 0.3);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        max-height: 820px;
        overflow: auto;
        top: 0;
        left: 0;
        #layoutCheck{
            display: none;
        }
        #layoutCheckLabel{
            padding: 6px;
            img:hover{
                background-color: rgba($color: #777, $alpha: 0.5);
            }
        }
        #layoutCheck:checked+#layoutCheckLabel+ul{
            width: 48px;
            li{
                a{
                    height: 0;
                    border: none;
                }
            }
        }
        ul{
            width: 300px;
            transition: width 0.5s ease-in-out 0s; 
            li{
                width:100%;
                a{
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    width: 100%;
                    height: 66px;
                    line-height: 66px;
                    color: #777;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    cursor: pointer;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
                    abbr{
                        text-decoration: none;
                    }
                    transition: height 0.5s ease-in-out 0s;
                }
                a:first-child{
                    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
                }
                a:hover {
                    color: #3366CC;
                    padding: 0 0 0 25px;
                    background-color: rgba($color: #3366CC, $alpha: 0.1);
                }
                a:active {
                    color: #fff;
                    padding: 0 0 0 25px;
                }
            }
        }
    }
    main{
        width: 100%;
        height: 88vh;
        min-height: 820px;
    }
}