#layoutBox{
    width: 100%;
    min-height: 88vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    #layoutNav{
        position: absolute;
        width: 200px;
        top: 5%;
        left: 5%;
        @media (min-aspect-ratio : 1/1){
            top: 10%;
        }
        max-height: 80vh;
        overflow: auto;
        li a {
            height: 32px;
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-left: 1px solid rgba($color: #000000, $alpha: 0.3);
            border-right: 1px solid rgba($color: #000000, $alpha: 0.3);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        }
        li a:link, li a:visited {
            color: #777;
            display: block;
            background: url(../../assets/image/menu5.gif);
            padding: 8px 25px 0 10px;
            text-align: right;
        }
        li a:hover {
            color: #fff;
            background: url(../../assets/image/menu5.gif) 0 -32px;
            padding: 8px 25px 0 10px;
            text-align: right;
        }
        li a:active {
            color: #fff;
            background: url(../../assets/image/menu5.gif) 0 -64px;
            padding: 8px 25px 0 10px;
            text-align: right;
        }
    }
}