#homeDom{
    width: 100%;
    height: 100%;
    min-height: 880px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    #homeHead{
        width: 100%;
        height: 8vh;
        min-width: 1080px;
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        padding:0 60px;
        background-color: white;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
        position: relative;
        // z-index: 10;
        #headLeftDom{
            font-family: 'Bungasai';
            height: 8vh;
            line-height: 8vh;
            font-size: 30px;
        }
        #headRightDom{
            display: flex;
            align-items: stretch;
            font-size: 20px;
            height: 8vh;
            @media screen and (max-width:675px){
                display: none;
            }
            a{
                color: rgba(0, 0, 0, 0.5);
                margin: 0 20px;
                line-height: 8vh;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            #contactMe{
                cursor:pointer;
            }
            #contactMe:hover::after{
                content: "";
                position: absolute;
                right: 8vh;
                top: 8vh;
                width: 200px;
                height: 200px;
                background-image: url("../../assets/image/contactMe.png");
                background-size: 100% 100%;
                z-index: 10;
                border: 1px solid rgba($color: #000000, $alpha: 0.3);
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
            }
            #avatar{
                box-sizing: border-box;
                width: 8vh;
                height: 8vh;
                min-width: 70px;
                min-height: 70px;
                padding: 30px 30px 30px 30px;
                //aspect表面层面 ratio比例 aspect-ratio 宽/高
                @media (min-aspect-ratio : 1/1){
                    // 宽度大于高度的时候使用
                    padding: 10px 10px 10px 10px;
                }
                border-radius: 50%;
                position: relative;
                #loginedDom{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    #loginedImg{
                        position: absolute;
                        z-index: 20;
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        transform: scale(1); 
                        transition: transform 0.2s ease 0s;
                    }
                    #loginedImg:hover{
                        transform: scale(1.1); 
                        box-shadow: 0 0 10px 2px rgba($color: #3366CC, $alpha: 1);
                    }
                    #loginedImg:hover+#loginOutDom,#loginOutDom:hover{
                        z-index: 16;
                        opacity: 1;
                        transform: translate(0px, 0px);
                    }
                    #loginOutDom{
                        position: absolute;
                        background-color: #fff;
                        box-shadow: 0 2px 8px rgba(0,0,0,.2);
                        border: 1px solid r;
                        width: 300%;
                        top: 50%;
                        left: -100%;
                        padding-top: 50%;
                        display: flex;
                        flex-direction: column;
                        transform: translate(0px, 50px);
                        opacity: 0;
                        transition:transform 0.5s ease 0s, opacity 0.5s ease 0s;
                        z-index: -10;
                        a,#changeAvatar{
                            padding: 0;
                            margin: 0;
                            cursor: pointer;
                            font-size: 14px;
                            font-weight: 800;
                            height: 50px;
                            line-height: 50px;
                            display: flex;
                            align-items: center;
                            .image{
                                height: 14px;
                                width: 14px;
                                margin-left: 20%;
                                margin-right: 10%;
                            }
                        }
                        a:hover,#changeAvatar:hover{
                            background-color: rgba($color:#ccc, $alpha:0.5);
                        }
                        #avatarFile{
                            display: none;
                        }
                    }
                }
                #avatarDom{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    #avatarImg{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        transform: scale(1); 
                        transition: transform 0.2s ease 0s;                       
                        cursor: pointer;
                    }
                    #avatarImg:hover{
                        transform: scale(1.1); 
                        box-shadow: 0 0 10px 2px rgba($color: #3366CC, $alpha: 1);
                    }
                }
            }
        }
    }
    #homefooter{
        background-color:white;
        width: 100%;
        height: 4vh;
        color: black;
        line-height: 4vh;
        text-align: center;
    }
}